body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.produk-harga {
    margin-top: 15px;
}

.About, .Contact, .Keranjang {
  min-height: 650px;
}

.img-keranjang {
  margin-left: -20px;
}

.FooterComponent {
  margin-left: 10px;
}